h3,p {
    margin: 0;
}

.container {
    width: 90%;
    border-radius: 15px;
    margin: 30px auto;
}

.logo {
    width: 20px;
    height: 20px;
}

.header {
    background-color: red;
    border-radius: 15px 15px 0 0;
    text-align: center;
    color: white;
    height: 55px;
    line-height: 55px;
}

.card--container {
    margin-top: 45px;
    margin-left: 40px;
    padding-bottom: 10px;
    display: flex;
    border-bottom: 1px solid gray;
}

.card--content {
    padding: 10px;
}

.card--header {
    display: flex;
}

.card--img {
    height: 250px;
    width: 170px;
    border-radius: 10px;
}

.card--icon {
    width: 10px;
    height: 15px;
}

.card--title {
    font-size: 25px;
    font-weight: 700px;
    padding: 10px 0;
}